.content {
    height: 2000px;
}

#greeter {
    margin: auto;
    text-align: center;
    position: relative;
    top: 15%;
    width: 100%;
}

#options {
    font-size: 20px;
    text-align: left;
    position: relative;
    top: 20%;
    left: 30%;
    z-index: -10;
}

ul {
    list-style-type: none;
}

ul.a li.a {
    list-style-image: url('../img/arrow-to-the-right-inside-a-circle-outline_318-38809.jpg');
}

.ui-autocomplete-input {
    width: 400px;
}
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
 }
