bcrypt==1.1.1
cffi==1.0.0
Django==1.8.1
django-angular==0.7.14
django-debug-toolbar==1.3.0
django-extras==0.3
django-haystack==2.3.1
djangorestframework==3.1.2
easy-thumbnails==2.2
Pillow==2.8.1
psycopg2==2.6
pycparser==2.13
python-ptrace==0.8.1
pytz==2015.4
six==1.9.0
sqlparse==0.1.15
