bcrypt==2.0.0
bleach==1.4.1
cffi==1.1.2
cloudinary==1.1.3
coverage==3.7.1
defusedxml==0.4.1
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8.5
django-activity-stream==0.6.0
django-appconf==1.0.1
django-contrib-comments==1.6.1
django-debug-toolbar==1.3.2
django-extras==0.3
django-haystack==2.4.0
django-imagekit==3.2.6
django-jsonfield==0.9.15
django-model-utils==2.3.1
django-postgrespool==0.3.0
django-sslserver==0.15
django-summernote==0.6.10
django-toolbelt==0.0.1
djangorestframework==3.2.4
docopt==0.6.2
docutils==0.12
easy-thumbnails==2.2
greenlet==0.4.7
gunicorn==19.3.0
html-linter==0.1.9
html5lib==0.999999
httpsig==1.1.2
jsonfield==1.0.3
lxml==3.4.4
nodeenv==0.13.3
oauthlib==1.0.1
pep8==1.6.2
pilkit==1.1.12
Pillow==2.9.0
psycopg2==2.6.1
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
PyJWT==1.4.0
python-dateutil==2.4.2
python-ptrace==0.8.1
python-social-auth==0.2.12
python3-openid==3.0.6
pytz==2015.6
PyYAML==3.11
redis==2.10.3
reportlab==3.2.0
requests==2.8.1
requests-oauthlib==0.5.0
selenium==2.46.1
six==1.10.0
SQLAlchemy==1.0.8
sqlparse==0.1.15
static3==0.6.1
template-remover==0.1.9
termcolor==1.1.0
whitenoise==2.0.4
