/*TODO: 
this entire section needs to be 
wrapped with a boostrap grid. */

body {
	width:100%;
	margin:0px;
	padding:0px;
}

h3 {
	text-align: center;
	color: #05CCCE;
	margin-bottom: 30px;
	margin-top: 30px;
	font-size: 30px;
}

h4 {
	color:#05CCCE;
	text-align: center:;
}

li {
	list-style-type: none;
}

.activity-box {
	text-align: center;
	position: relative;
	left: 27%;
	color: rgb(128, 128, 128);
	width: 45%;
}

.advisor-box {
	position: relative;
	left: 37.5%;
	width: 25%;
	text-align: center;
	color: rgb(128, 128, 128);
}

.help-block {
	text-align: center;
	font-size: 12px;
}

.row {
	position: relative;
	left: 18%;
	color: rgb(128, 128, 128);
	text-align: center;
}

.submit-button {
	text-align: center;
	color: rgb(128, 128, 128);
}

#activity-type {
	text-align: center;
	font-size: 20px;
}

#activity-type-box {
	position: relative;
	left: 37%;
	color: rgb(128, 128, 128);
}

#advisor-info {
	text-align: center;
	font-size: 20px;
}

#container {
	width: 600px;
	margin:0 ;
	position:relative;
	left: 25%;
}

#learning-obj {
	text-align: center;
	font-size: 20px;
}

#learn-obj-box {
	position: relative;
	left: 10%;
	color: rgb(128, 128, 128);
	overflow: hidden;
	font-size: 15px;
}














