{% extends 'journal/base_user.html' %}
{% load staticfiles %}
{% load comments %}

{% block 'title' %}
<title>Activity Form </title>
{% endblock %}

{% block 'page-css' %}
<link rel="stylesheet" type="text/css" href="{% static 'journal/activity_form/css/style.css' %}">
{% endblock %}

{% block 'page-js' %}
<script src="{% static 'journal/activity_form/js/main.js' %}"></script>
{% endblock %}


{% block 'nav-content' %}
<h3> Activities Form </h3>
<a href="/activities"><i class="fa fa-long-arrow-left fa-6x"></i> Back to your activities page. </a>
{% endblock %}

{% block 'main-content' %}
<h3> Hi {{ student }}! </h3>
<div class="row">
  {% include 'journal/activity_form_inputs.html' %}
</div>

{% if activity %}
  {% render_comment_list for activity %}
  {% get_comment_form for activity as form %}
    <form action="{% comment_form_target %}" method="POST">
    {% csrf_token %}
    {{ form.honeypot }}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <textarea class="form-group" id="{{ form.comment.id }}" rows="10" name="{{ form.comment.name }}" value="{{ form.comment.value }}" required></textarea>
    <input type="hidden" name="next" value="/comment_submit/">
    <br><input class="btn btn-success" type="submit" value="Add comment" id="id_submit">
    </form>
{% endif %}

{% endblock %}
