{% extends 'journal/base_user.html' %}
{% load staticfiles %}

{% block 'title' %}
<title>Journal </title>
{% endblock %}

{% block 'page-css' %}
<link rel="stylesheet" type="text/css" href="{% static 'journal/activities/css/style.css' %}">
{% endblock %}

{% block 'page-js' %}
<script src="{% static 'journal/activities/js/main.js' %}"></script>
{% if is_student %}
<script>
setInterval(function() {
  $.get('/ping', function(data) {
    $('.badge').html(data);
  });
}, 3600);
setInterval(function() {
  $.get("/feed", function(data) {
    $('.notifications').html(data);
  });
}, 3550);
</script>
{% endif %}
{% endblock %}

{% block 'controller' %}
ng-controller="activityTutorialCtrl"
{% endblock %}

{% block 'nav-content' %}
<h3> {% if user and not user.is_anonymous %}
  Welcome <br> <a href="/profile">{{ user.get_full_name|default:user.username }}</a>! <br>
  {% else %}
  <a href="#">Login with Google</a>
  {% endif %}
</h3> <br>
{% if is_student %}

{% endif %}
<h5> Need Inspiration? </h5> <br>

{% if is_student %}
<div class="sidebar-buttons">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <i class="fa fa-user fa-lg"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a></li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle notification-icon" type="button"
    id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="true" onclick="bounce()">
      <i class="fa fa-bolt fa-lg"></i>
        <span class="badge">{% include 'journal/unread_count.html' %}</span>
    </button>

    <ul class="dropdown-menu">
      <div class="notifications">
        {% include 'journal/feed.html'%}
      </div>
    </ul>
  </div>

  <div>
    <button class="btn btn-default tutorial-button" ng-click="triggerStepCount()" type="button">
      <i class="fa fa-question-circle fa-lg"></i>
    </button>
  </div>
</div>
{% else %}
<div class="coordinator-link">
  <a href="/{{ back_link }}"><i class="fa fa-long-arrow-left fa-6x"></i> Back to the students page. </a>
</div>
{% endif %}

{% endblock %}

{% block 'mini-sidebar-content' %}
<div class="mini-sidebar-icons">

  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="user-symbol fa fa-user fa-lg"></span>
    </button>
    <ul class="dropdown-menu mini-user-dropdown" aria-labelledby="dropdownMenu2 dropdownMenuDivider">
      <li><a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a></li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle notification-symbol" type="button"
    id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="true" onclick="bounce()">
      <i class="notification-side fa fa-bolt fa-lg"></i>
        <!-- <span class="badge">{% include 'journal/unread_count.html' %}</span> -->
    </button>

    <ul class="dropdown-menu mini-notification">
      <div class="notifications">
        {% include 'journal/feed.html'%}
      </div>
    </ul>
  </div>

  <div>
    <button class="btn btn-default mini-tutorial-button" ng-click="triggerStepCount()" type="button">
      <i class="fa fa-question-circle fa-lg"></i>
    </button>
  </div>

</div>
{% endblock %}

{% block 'main-content'%}
<div class="content">
  <div class="activities-list">
    <div class = "row">
      <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="pencil-sign" >
          <img src = "{% static 'journal/activities/img/journal_sign.png' %}">
        </div>
      </div>
      {% if is_student %}
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 tutorial-add" >
        <div class="add-journal-sign">
          <a href="/activity_details/">
            <img src = "{% static 'journal/activities/img/add_sign.png' %}">
          </a>
        </div>
      </div>
      {% endif %}

      {% include 'journal/activity_boxes.html' %}
    </div>
  </div>
</div>

  <!-- All tutorial dialogs here -->
  <div class="overlay" ng-if="clicks > 0"></div>
  <div class="popup" style="top: 7%;  left: 23%;" ng-if="clicks === 1">
    <div class="arrow">
      <i class="fa fa-play"></i>
    </div>
    <p> Click on this add button to record the activities that you have completed! </p>
    <a class="popup-button skip-button" ng-click="skip()">Skip</a>
    <a class="popup-button" ng-click="triggerStepCount()">
      <i class="fa fa-angle-right right-button fa-2x" style="left:48%"></i>
    </a>
  </div>

  <div class="popup" style="top: 13%; left: 67%;" ng-if="clicks === 2">
    <div class="arrow">
      <i class="fa fa-play"></i>
    </div>
    <p>Click on the activity block to add entries for your journal! </p>
    <a class="popup-button skip-button" ng-click="skip()"> Skip </a>
    <a class="popup-button" ng-click="triggerBackCount()">
      <i class="fa fa-angle-left left-button fa-2x"></i>
    </a>
    <a class="popup-button" ng-click="triggerStepCount()">
      <i class="fa fa-angle-right right-button fa-2x"></i>
    </a>
  </div>

  <div class="popup" style="top: 50%; left: -20%;" ng-if="clicks === 3">
    <div class="arrow-up">
      <i class="fa fa-play fa-rotate-270"></i>
    </div>
    <p style="margin-top: 10%"> Don't forget to check notifications from your advisors right here! </p>
    <a class="popup-button skip-button" ng-click="skip()"> Skip </a>
    <a class="popup-button" ng-click="triggerBackCount()">
      <i class="fa fa-angle-left left-button fa-2x"></i>
    </a>
    <a class="popup-button" ng-click="triggerStepCount()">
      <i class="fa fa-check done-button fa-lg"></i>
    </a>
  </div>
{% endblock %}
