{% extends 'journal/base_user.html' %}
{% load staticfiles %}


{% block 'title' %}
<title>Journal </title>
{% endblock %}

{% block 'page-css' %}
<link rel="stylesheet" type="text/css" href="{% static 'journal/activities/css/style.css' %}">
{% endblock %}

{% block 'page-js' %}
<script src="{% static 'journal/activities/js/main.js' %}"></script>
{% endblock %}

{% block 'nav-content' %}
<div id="welcome-text">
	<h3> {% if user and not user.is_anonymous %}
		Welcome <br> {{ user.get_full_name|default:user.username }}! <br>
		<a href="{% url 'auth:logout' %}?next={{ request.path }}"> <h5>Logout</h5> </a>
		{% else %}
		<a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
		{% endif %}
	</h3>
	{% if is_student %}
	<h4> Click on the add button <br>
		to create a new journal. <br>
		To edit a journal,<br>
		click on an activity.
	</h4> <br>
	<h5> Need Inspiration? </h5>
	{% endif %}
</div>
{% endblock %}

{% block 'main-content'%}
<div class="content">
	<div id = "pencil-sign" >
		<img src = "{% static 'journal/activities/img/journal_sign.png' %}">
	</div>

	<div id="activities-list">
		<div class = "row">
			{% if is_student %}
			<div class="col-xs-12 col-md-6 col-lg-4" >
				<div id="add-journal-sign activity-box" >
					<a href="{% url 'activity_form' %}">
						<img src = "{% static 'journal/activities/img/add_sign.png' %}">
					</a>
				</div>
			</div>
			{% endif %}

			{% if activities %}
				{% for activity in activities %}
				<div class="col-xs-12 col-md-6 col-lg-4" >
					{% if is_student %}
					<a class="thumbnail activity-box" href="/activity/{{activity.id}}">
					{% else %}
					<a class="thumbnail activity-box" href="/student_entries/{{student_pk}}/{{activity.pk}}">
					{% endif %}
						<div id="activity-name">
							{{ activity	}}
						</div>
						<div id="activity-description">
							{{activity.activity_description}}
						</div>
					</a>
				</div>
				{% endfor %}
			{% else %}
				<div class="col-xs-12 col-md-6 col-lg-4" >
					{% if is_student %}
					<a class="thumbnail activity-box" href="{% url 'activity_form' %}">
						No activities yet, would you like to add one?
					</a>
					{% else %}
					<a class="thumbnail activity-box" href="#">
						The student does not have any activities yet. Would you like to tell the student to add one?
					{% endif %}
					</a>
				</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
