{% extends 'journal/base_user.html' %}
{% load staticfiles %}
{% load activity_tags %}

{% block 'title' %}
<title>Welcome Coordinator! </title>
{% endblock %}

{% block 'page-css' %}
<link rel="stylesheet" type="text/css" href="{% static 'journal/coordinator/css/style.css' %}">
{% endblock %}

{% block 'page-js' %}
<script src="{% static 'journal/coordinator/js/main.js' %}"></script>
{% endblock %}

{% block 'nav-content' %}
<h3> Welcome <br> {{ coordinator }}! </h3>
  <div class="sidebar-links">
    <a href="/student/">Register a student</a> <br>
    <div class="border"></div>
  </div>
{% endblock %}

{% block 'main-content' %}
<h1 class="title"> Coordinator's Page </h1>
  <div class="row">
    <div class="students">
      <div class="col-xs-12 col-md-4 col-lg-4">
        <h2>Students</h2>
        <!-- <small><a href="/student/"> (Add) </a> </small> -->
        <div class="border-2">
        </div>
        {% if students %}
          {% for student in students %}
          <a class="student-names" href="/activities/{{ student.pk }}"> {{ student }} </a>
          <small><a href="/student/{{ student.pk }}"> (edit) </a> <br> </small>
          <div class="border">
          </div>
          {% endfor %}
        {% else %}
        <!-- <h4> No students yet, would you like to <a href="/student/">register</a> them? </h4> -->
        {% endif %}
      </div>
    </div>


    <div class="recent-activities">
      <div class="col-xs-12 col-md-4 col-lg-4">
        <h2> Student Activities </h2> <br>
        <div class="border-2">
        </div>
        <div class="activity-feed">
        {% include 'journal/feed.html'%}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
