{% load staticfiles %}
<html>
    <head>
        <title>MyCAS</title> <!--Temporary placement-->
        <link rel="stylesheet" type="text/css" href="{% static 'journal/general/css/reset.css' %}">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href='http://fonts.googleapis.com/css?family=Lato:400,900,300italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="{% static 'journal/general/js/SmoothScroll.js' %}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </header>

</html>
