{% extends 'journal/base.html' %}
{% load staticfiles %}


{% block 'title' %}
<title>Journal </title>
{% endblock %}

{% block 'user-css' %}
<link rel="stylesheet" type="text/css" href="{% static 'journal/base_user/css/style.css' %}">
{% block 'page-css'%} {% endblock %}
{% endblock %}

{% block 'user-js' %}
<script src="{% static 'journal/base_user/js/main.js' %}"></script>
{% block 'page-js' %} {% endblock %}
{% endblock %}

{% block 'content' %}
<body>
	<div class="container-fluid">
		<nav class="sidebar">
			<div class="brand">
				<a href=" ">
					<object class="logo" data="{% static 'journal/base_user/img/logo.svg' %}" type="image/svg+xml">
						<img src = "{% static 'journal/base_user/img/logo.svg' %}">
					</object>
				</a>
			</div>
			<div class="nav-text">
				{% block 'nav-content' %} {% endblock %}
			</div>
		</nav>

		<div class="main">
			{% block 'main-content' %} {% endblock %}
		</div>
	</div>
{% endblock %}
