{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <!-- <title>MyCAS</title> -->
        {% block 'title' %} {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'journal/general/css/reset.css' %}"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'journal/general/css/base.css' %}">
        {% block 'page-css' %}  {% endblock %}
        <script src="{% static 'journal/general/js/jquery-ui.min.js' %}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="{% static 'journal/general/js/SmoothScroll.js' %}"></script>
        {% block 'page-js' %} {% endblock %}

    </header>

    {% block 'content' %} {% endblock %}

</html>
