{% extends 'journal/base.html' %}
{% load staticfiles %}
{% load cloudinary %}


{% block 'title' %}
<title>Journal </title>
{% endblock %}

{% block 'user-css' %}
<link rel="stylesheet" type="text/css" href="{% static 'journal/base_user/css/style.css' %}">
{% block 'page-css'%} {% endblock %}
{% endblock %}

{% block 'user-js' %}
<script src="{% static 'journal/base_user/js/main.js' %}"></script>
{% block 'page-js' %} {% endblock %}
{% endblock %}

{% block 'content' %}
<body>
	<div class="container-fluid" {% block 'controller' %}{% endblock %}>
		<div id="effect" class="ui-widget-content ui-corner-all">
			<nav class="sidebar sidebar-collapsed" >
				<div class="brand">
					<a href=" ">
						<object class="logo" data="{% static 'journal/base_user/img/logo.svg' %}" type="image/svg+xml">
						<img src = "{% static 'journal/base_user/img/logo.svg' %}">
						</object>
					</a>
				</div>

				<div class="nav-text">
					{% block 'nav-content' %} {% endblock %}
				</div>

				<button class="sidebar-button" onclick="runEffect()" class="sidebar-menu-icon" id="sidebar-menu-expand">
					<i class="fa fa-chevron-left sidebar-menu-img">
					</i>
					<i class="fa fa-bars">
					</i>
				</button>
			</nav>
		</div>

		<div class="main">
			{% block 'main-content' %} {% endblock %}
			<div class="mini-sidebar">
				<div class="logo-2">
					<a href=" ">
						<img src = "{% static 'journal/base_user/img/our-logo-3.svg' %}">
					</a>
				</div>

				<div class="button-2">
					<button onclick="runEffect()" class=" sidebar-menu-icon" id="sidebar-menu-expand">
						<i class="fa fa-bars">
						</i>
						<i class="fa fa-chevron-right sidebar-menu-img">
						</i>
					</button>
				</div>
				{% block 'mini-sidebar-content' %} {% endblock %}
			</div>
		</div>
	</div>
	{% block 'modal' %} {% endblock %}
</body>
{% endblock %}
