{% extends 'journal/base.html' %}
{% load staticfiles %}


{% block 'title' %}
<title>Welcome Coordinator! </title>
{% endblock %}

{% block 'page-css' %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'journal/entries/css/style.css' %}"> -->
{% endblock %}

{% block 'page-js' %}
<!-- <script src="{% static 'journal/entries/js/main.js' %}"></script> -->
{% endblock %}

{% block 'content' %}
<body>
    <h2> Students </h2>
    <a href="/student_registration/">Click here to register a student</a>
    {% if students %}
      {% for student in students %}
      <ul>
        <li><a href="/student_activities/{{student.pk}}"> {{ student }} </a>
          <small><a href="/student_registration/{{student.pk}}"> edit </small></a></li>
      </ul>
      {% endfor %}
    {% else %}
      <h3> No students yet, would you like to <a href="/student_registration/">register</a> them? </h3>
    {% endif %}
</body>
{% endblock %}
