{% extends 'journal/base_user.html' %}
{% load staticfiles %}


{% block 'title' %}
<title>Journal </title>
{% endblock %}

{% block 'page-css' %}
<link rel="stylesheet" type="text/css" href="{% static 'journal/entries/css/style.css' %}">
{% endblock %}

{% block 'page-js' %}
<script src="{% static 'journal/entries/js/main.js' %}"></script>
{% endblock %}

{% block 'nav-content'%}
<div class="activity-description">
	<h3 id="activity"> {{ activity_description}} </h3>
	<h5> {{ activity_start }} -- {{ activity_end }} </h5>
</div>

<div class="action-bar">
	{% if is_student %}
	<a href="/entry_form/{{ activity_id }}/text/#text"> Add an entry</a> <br>
	<a href="/activity_form/{{ activity_pk }}">Edit the activity</a> <br>
	<!-- TODO: Confirmation dialog -->
	<a href="/delete_activity/{{ activity_pk }}"> Delete the activity </a>
	{% else %}
	<a href="/activity_view/{{ student_pk }}/{{ activity_pk }}/"> View activity details </a>
	{% endif %}
</div>
{% endblock %}

{% block 'main-content' %}
<h2> Entries for {{ name }} </h2>
{% if entries %}
<table class="table table-hover">
	<tr class="table-header">
		<td class="col-md-4"> Date Created </td>
		<td class="col-md-8"> Entry Content </td>
	</tr>
	{% if entries %}
  		{% for entry in entries %}
			{% if is_student %}
  		<tr class='clickable-row' data-href="/entry_form/{{ activity_id }}/{{ entry.entry_type }}/{{ entry.pk }}/#{{ entry.entry_type }}">
			{% else %}
			<tr class='clickable-row' data-href="/entry_view/{{ student_pk }}/{{ activity_pk }}/{{ entry.pk }}/">
			{% endif %}
	  		<td class="col-xs-6 col-md-4"> {{ entry.created }} </td>
	  		<td class="col-xs-6 col-md-8"> {{ entry }} </td>
			<!-- </a> -->
  		{% endfor %}
		</tr>
	{% else %}
	<tr class='clickable-row'>
		<td class="col-xs-6 col-md-4">
  		<h4> No entries yet, would you like to <a href="/entry_form/{{ activity_id }}/t">add</a> one? </h4>
  	</td>
  	<td>
  	</td>
  </tr>
	{% endif %}
{% else %}
<h4> No entries yet, would you like to <a href="/entry_form/{{ activity_id }}/t">add</a> one? </h4>
{% endif %}

{% endblock %}
</table>
