{% extends 'journal/base.html' %}
{% load staticfiles %}


{% block 'title' %}
<title>Journal </title>
{% endblock %}

{% block 'page-css' %}
<link rel="stylesheet" type="text/css" href="{% static 'journal/entries/css/style.css' %}">
{% endblock %}

{% block 'page-js' %}
<script src="{% static 'journal/entries/js/main.js' %}"></script>
{% endblock %}

{% block 'content' %}
<body>
    <!-- <h1>Entries Page</h1>
    <h2>TODO:</h2>
    <ul>
        <li>Navigation Bar</li>
        <li>Action Bar</li>
        <li>List of journals (see for loop)</li>
    </ul> -->

    <h2> Entries for {{ name }} </h2>
    <h2><small> {{ activity_description}} </small></h2>
    <h3><small> {{ activity_start }} -- {{ activity_end }} </small></h2>
    <a href="/activity_form/{{ activity_pk }}">Edit the activity</a>
    <br><a href="/entry_form/{{ activity_id }}">Click here to add an entry</a>
    {% if entries %}
      {% for entry in entries %}
      <ul>
        <li><a href="/entry_form/{{ activity_id }}/{{ entry.entry_type }}/{{ entry.pk }}/"> {{ entry }} </a></li>
      </ul>
      {% endfor %}
    {% else %}
      <h3> No entries yet, would you like to <a href="/entry_form/{{ activity_id }}">add</a> one? </h3>
    {% endif %}
</body>
{% endblock %}
