{% extends 'journal/base_user.html' %}
{% load staticfiles %}

{% block 'title' %}
<title>Journal </title>
{% endblock %}

{% block 'page-css' %}
<link rel="stylesheet" type="text/css" href="{% static 'journal/entries/css/style.css' %}">
{% endblock %}

{% block 'page-js' %}
<!-- <script src="{% static 'journal/entries/js/jquery.jpg.js' %}"></script>-->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js"></script> -->
<script src="{% static 'journal/entries/js/main.js' %}"></script>
{% endblock %}
