{% extends 'journal/base_user.html' %}
{% load staticfiles %}

{% block 'title' %}
<title>Journal </title>
{% endblock %}

{% block 'page-css' %}
<link rel="stylesheet" type="text/css" href="{% static 'journal/entries/css/style.css' %}">
{% endblock %}

{% block 'page-js' %}
<!-- <script src="{% static 'journal/entries/js/jquery.jpg.js' %}"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.1/masonry.pkgd.min.js"></script>
<script src="{% static 'journal/entries/js/main.js' %}"></script>
{% endblock %}

{% block 'nav-content'%}
<div> Stuff </div>
{% endblock %}

{% block 'mini-sidebar-content' %}
<div> Mini-sidebar</div>
{% endblock %}

{% block 'main-content' %}

<!-- <div class="grid-item grid-item-width2">
  <h2> Entries for bracket name bracket </h2>
</div>

<div class="grid">
  bracket % include 'journal/entry_boxes.html' % bracket
</div> -->
{% endblock %}

{% block 'modal' %}
<div> Stuff </div>
{% endblock %}
