{% extends 'journal/base.html' %}
{% load staticfiles %}

{% block 'title' %}
<title> iU </title>
{% endblock %}

{% block 'page-css' %}
<link rel="stylesheet" type="text/css" href="{% static 'journal/home/css/style.css' %}">
{% endblock %}

{% block 'page-js' %}
<script src="{% static 'journal/home/js/main.js' %}"></script>
{% endblock %}

{% block 'content' %}

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
      		<div id="logo"> 
      			<a class="navbar-brand" href=" "> <img src="{% static 'journal/home/img/logo3.gif' %}"> iU </a> 
      		</div>

      		 <!-- Collect the nav links, forms, and other content for toggling -->
    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      			<ul class="nav navbar-nav">
        			<li><a href="#about-us">About</a></li>
        			<li><a href="#features">Features</a></li>
        			<li><a href="#interest">Interested?</a></li>
        			<li><a href="#contact-us">Chat with us</a></li>
    				<li> 
    				{% if user and not user.is_anonymous %}
        			Hello {{ user.get_full_name|default:user.username }}!
        			<a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
        			{% else %}
        			<a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
        		 	Login </a>
       				{% endif %}
       				</li>
       			</ul>
       		</div>
       	</div>
    </div>
</nav>


<body>
    <div id="container">
        <div class="parallax background">
            <div id="main-title">
                <div id="big">Welcome</div>
                <div id="small">to the future of journaling</div>
            </div>
            <div id="overlay"></div>
            <a href="#about-us" id="bouncing-arrow">
                <i class="fa fa-chevron-down"></i>
            </a>
        </div>
        <div id="content panel">
            <section id="about-us">
                <h2>About Us</h2>
            </section>
            <section id="features">
            	<h2> Features </h2>
            </section>
            <section id="interest">
            	<h2> Interested? </h2>
            </section>
            <section id="contact-us">
            	<h2> Chat With Us </h2>
            </section>
        </div>
    </div>
</body>

{% endblock %}
