<form action="" method="post">
  {% csrf_token %}

  <div class="col-xs-12 col-md-6 col-lg-6">	
		<div class="student-name">
			<label for="first_name"> First Name: </label>
				<input class="form-control" type="text" name="{{ form.first_name.name }}" value="{{ form.first_name.value|default:'' }}" required>
		</div>
	</div>

	<div class="col-xs-12 col-md-6 col-lg-6">	
		<div class="last-name-box">
			<label for="last_name"> Last Name: </label>
				<input class="form-control" type="text" name="{{ form.last_name.name }}" value="{{ form.last_name.value|default:'' }}" required>
		</div>
	</div>

	<div class="col-xs-12 col-md-6 col-lg-6">	
		<div class="student-id">
			<label for="student_id"> Student id: </label>
				<input class="form-control" type="text" name="{{ form.student_id.name }}" value="{{ form.student_id.value|default:'' }}" required>
		</div>
	</div>

	<div class="col-xs-12 col-md-6 col-lg-6">	
		<div class="personal-code">
			<label for="personal_code"> Personal code: </label>
				<input class="form-control" type="text" name="{{ form.personal_code.name }}" value="{{ form.personal_code.value|default:'' }}" required>
		</div>
	</div>

	<div class="col-xs-12 col-md-12 col-lg-12">
		<div class="student-email">
			<label for="email"> Email: </label>
				<input class="form-control" type="text" name="{{ form.email.name }}" value="{{ form.email.value|default:'' }}" required>
		</div>
	</div>

	<div class="col-xs-12 col-md-12 col-lg-12">
		<a class="btn btn-default" href="/coordinator" role="button"> Back </a>
			<input class="btn btn-success" type="submit" value="Submit" />
				{% if student_pk %}
				<a class="btn btn-danger" href="/remove_student/{{ student_pk }}" role="button"> Remove </a>
				{% endif %}
	</div>
</form>