{% extends 'journal/base_user.html' %}
{% load staticfiles %}

{% block 'title' %}
<title>Student Registration Form </title>
{% endblock %}

{% block 'page-css' %}
<link rel="stylesheet" type="text/css" href="{% static 'journal/student_registration_form/css/style.css' %}">
{% endblock %}

{% block 'page-js' %}
{% endblock %}

{% block 'nav-content' %}
<h3> Hi {{ coordinator }}! </h3>
{% endblock %}

{% block 'main-content' %}
<body>
  <div id="container">
    <h2 class="student-title">
      Student Profile
    </h2>
    {% include 'journal/student_registration_form_input.html' %}
  </div>
</body>
{% endblock %}
