{% extends 'journal/base.html' %}
{% load staticfiles %}

{% block 'title' %}
<title> {{greeting}}{{name}}! </title>
{% endblock %}

{% block 'page-css' %}
<link rel="stylesheet" type="text/css" href="{% static 'journal/welcome/css/style.css' %}">
{% endblock %}

{% block 'page-js' %}
<script src="{% static 'journal/welcome/js/main.js' %}"></script>
{% endblock %}




{% block 'content' %}

<body>
   <center>
        <h1> Welcome, {{name}}! </h1>
        <h2> What would you like to do today? </h2>
    </center>

    <div id="journal-circle" >
    	<img src= "{% static 'journal/welcome/img/u2.png' %}"> 
    </div>
        <h1><span> Add an Journal </span></h1>
   

    <div id="Activity-circle"> 
    	<img src= "{% static 'journal/welcome/img/u4.png' %}"> 
    </div>
        <h1 id="add-activity"> Add an activity </h1>

    <div id="question-circle">
    	<img src= "{% static 'journal/welcome/img/u6.png' %}"> 
    </div>
        <h2 id="ask-question"> Ask a Question </h2>

    <div id="blank-circle1">
    	<img src= "{% static 'journal/welcome/img/u10.png' %}"> 
    </div>

    <div id="blank-circle2">
    	<img src= "{% static 'journal/welcome/img/u12.png' %}"> 
    </div>

    <div id="blank-circle3">
    	<img src= "{% static 'journal/welcome/img/u14.png' %}">
    </div>
</body>

{% endblock %}
