{% extends 'journal/base.html' %}
{% load staticfiles %}

{% block 'title' %}
<title> {{greeting}}{{name}}! </title>
{% endblock %}

{% block 'page-css' %}
<link rel="stylesheet" type="text/css" href="{% static 'journal/welcome/css/style.css' %}">
{% endblock %}

{% block 'page-js' %}
<script src="{% static 'journal/welcome/js/main.js' %}"></script>
{% endblock %}




{% block 'content' %}

<body>
   <center>
        <h1> Welcome, _____! </h1>
        <h2> What would you like to do today? </h2>
    </center>
        
    <img id="journal-circle" src= "{% static 'journal/welcome/img/u2.png' %}"> 
        <h1><span> Add an Journal </span></h1>

    <img id="Activity-circle" src= "{% static 'journal/welcome/img/u4.png' %}"> 
        <h1 id="add-activity"> Add an activity </h1>

    <img id="question-circle"src= "{% static 'journal/welcome/img/u6.png' %}"> 
        <h2 id="ask-question"> Ask a Question </h2>
    <img id="blank-circle1" src= "{% static 'journal/welcome/img/u10.png' %}"> 
    <img id="blank-circle2" src= "{% static 'journal/welcome/img/u12.png' %}"> 
    <img id="blank-circle3" src= "{% static 'journal/welcome/img/u14.png' %}">
</body>

{% endblock %}
